
<label class="label">{{label}}</label>
<div class="control">
    <input [formControl]="control" [type]="type" autocomplete="new-password" class="input is-small" [ngClass]="{ 'is-danger': control.touched && control.dirty && control.errors }" />
</div>
<ng-container *ngIf="control.touched && control.dirty">
    <ul>
        <p class="help is-danger" *ngIf="control.errors?.required" >
            Field is required
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.minlength" >
            The input is {{control.errors?.minlength.actualLength}} character long. It must be at least {{control.errors?.minlength.requiredLength}} character
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.email" >
            You must enter a valid email
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.min" >
            Value is too Low
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.max" >
            Value is too High
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.pattern" >
            Value is invalid
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.noMatch" >
            Passwords do not match.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.noUppercaseLetter" >
            At least one uppercase letter.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.noLowercaseLetter" >
            At least one lowercase letter.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.noNumber" >
            At least one numeric digit.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.noSpecialCharacter" >
            At least one special character.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.emailTaken" >
            Email already exists!.
        </p>
        <p class="help is-danger" *ngIf=" control.errors?.usernameTaken" >
            Username already exists!.
        </p>
    </ul>
</ng-container>
