<div class="max-w-xs  border-solid border border-gray-300 rounded-md px-4 m-auto">
    <h2>Create an Account</h2>
    <form [formGroup]="authForm" (ngSubmit)="onSubmit()">
        <div class="grid grid-rows-4 gap-4">
            <app-input [control]="username" label="Username"></app-input>
            <app-input [control]="password" label="Password" type="password"></app-input>
            <app-input [control]="passwordConfirmation" label="Confirm password" type="password"></app-input>
            <div>
                <button type="submit" class="px-2 py-0.5 bg-amber-300 rounded-md" >
                    Submit
                </button>
            </div>
        </div>
    </form>
</div>
